// region Sizes
$s-border-width: 5px;
// endregion

// region Colors
$c-white: #ffffff;
$c-black: #000000;
$c-light-gray: #f0f0f0;
$c-dim-gray: #595959;
$c-carmine-red: #f74b4a;
$c-lemon-yellow: #fedd74;
$c-avocado: #00843E;
$c-dark-green: #005240;
$c-light-green: #c4dcc4;

// endregion
