.base-button {
  @include flexBox(row, center, center);
  @include textWithoutFName(18px, 700, 17.23px);
  font-family: 'GothamBold', Arial, sans-serif;
  vertical-align: middle;
  color: $c-dark-green;
  text-align: center;
  border-radius: 8px;
  padding: 15px 0;
  width: 100%;
  height: 42px;
}

.hotspot-spinner-container {
  @include flexBox(row, center, center);
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  width: max-content;
  border-radius: 50%;
}

.hotspot-spinner {
  color: black;
  opacity: 0.8;
}
